.button {
  height: 40px;
  width: 100%;
  border-radius: 2px;
  text-transform: uppercase;
  outline: none;
  background: #F4A43E;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  border-style: solid;
  border-color:#DB9337;
  border-width:0 0 2px 0;

  &:active {
    background: #DB9337;
    color: color(#F4A43E blackness(14%));
  }
}