@import 'FormWidget/shared/constants.css';

:root {
  --sidePadding: 20;
  --widthDesktop: calc(1024 - var(--sidePadding)*2);
  --widthLaptop: calc(768 - var(--sidePadding)*2);

  --tablet: 768px;
}

.block {
  display: block;
  padding: 10px 20px 15px;
  color: #fff;
  background-color: var(--c-main);
  font-family: Arial, sans-serif;
  line-height: 1.3;
  max-width: 1024px;
  min-width: 200px;
  box-sizing: border-box;

  & * {
    box-sizing: border-box;
  }

  & .heading {
    font-size: 23px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  & .row {
    margin: 0 -10px;
  }

  & .col {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;

    &_description {
      font-size: 10px;
      width: calc(284*100/var(--widthDesktop))%;

      & .description {
        padding-right: 40px;
      }
    }

    &_departDate, &_returnDate {
      width: calc(220*100/var(--widthDesktop))%;
    }

    &_submit {
      width: calc(260*100/var(--widthDesktop))%;
    }
  }

  &:global(:container(width < 1024px)) {
    & .col {
      &_description {
        width: 100%;
        margin-bottom: 15px;
      }

      &_submit {
        padding-left: 15px;
      }

      &_departDate, &_returnDate {
        width: calc(230*100/var(--widthLaptop))%;
      }

      &_submit {
        width: calc(268*100/var(--widthLaptop))%;
      }
    }
  }


  &:global(:container(width < 768px)) {
    & .heading {
      font-size: 15px;
    }

    & .col {
      &_description {
        width: 100%;
        margin-bottom: 15px;
      }
      &_departDate, &_returnDate {
        width: 50%;
        margin-bottom: 20px;
      }
      &_submit {
        width: 100%;
        padding: 0 10px;
      }
    }
  }

  &:global(:container(width < 440px)) {
    & .col {
      &_description {
        margin-bottom: 15px;
        display: table-footer-group;
        & .description {
          padding: 0 10px;
        }
      }
      &_departDate, &_returnDate, &_description, &_submit {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    & .row {
      display: table;
    }
  }
}

.button {
  height: 40px;
  width: 100%;
  border-radius: 2px;
  text-transform: uppercase;
  outline: none;
  background: #F4A43E;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  // todo
  border-bottom: 2px solid #DB9337;

  &:active {
    background: #DB9337;
    color: color(#F4A43E blackness(14%));
  }
}