@import 'FormWidget/shared/constants.css';

.container {
  position: relative;
}

.icon {
  position: absolute;
  top: 12px;
  right: 12px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content: '';
  color: var(--c-main);
}